* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(img/patt.png);
}

.header {
  padding: 25px 0;
  background-color: rgba(255, 255, 255, 0.75);
  height: 100px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

[class*="col-"] {
  float: left;
}


.row {
  clear: both;
}

[class*=col-md-] {
  float: left;
  display: block;
}

.col-md-3 {
  width: 25%;
}

.col-md-6 {
  width: 50%;
}

.col-md-8 {
  width: 65%;
}

.col-md-4 {
  width: 33%;
}

.col-md-9 {
  width: 75%;
}

.logo {
  margin-top: 8px;
}

.menu li {
  width: 25%;
  float: left;
  border-left: 1px solid #2c71b8;
}

.menu li:last-child {
  border-right: 1px solid #2c71b8;
}

.menu a {
  text-decoration: none;
  display: block;
  height: 50px;
  line-height: 50px;
  color: #2c71b8;
  font-size: 21px;
  text-align: center;
}

.menu li:hover>a {
  color: white;
  background-color: #2c71b8;
}
.products {
  background-image: url(img/caret-down-blu.png);
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.menu li:hover .products {
  background-image: url(img/caret-dwn.png);
  background-repeat: no-repeat;
}

.search {
  border: 1px solid #2c71b8;
  position: relative;
  margin-left: 25px;
}

.search input,
.search button {
  border: none;
  outline: none;
}

.search input::placeholder {
  color: #2c71b8;
}

.search input {
  height: 40px;
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 21px;
  color: #2c71b8;
}

.search button {
  height: 30px;
  width: 30px;
  top: 5px;
  right: 5px;
  background-color: #2c71b8;
  position: absolute;
}

.cart-right {
  margin-left: 20px;
  position: relative;
  width: 40px;
  height: 40px;
  background-image: url(img/cart.png);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

.cart-right .count {
  position: absolute;
  top: -10px;
  left: -10px;

  background-color: #2c71b8;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #fff;
  line-height: 20px;
}

.search input {
  background: transparent;
}

.menu .down_menu {
  display: none;
}

.menu>li:hover .down_menu {
  display: block;
  position: absolute;
  z-index: 99999999;
  border: none;
}

.down_menu>li {
  width: 300px;
  background-color: #2c71b8;
  border: none;
  clear: both;
}

.down_menu li a {
  text-align: left;
  padding: 0 28px;
  display: block;
  color: white;
}

.down_menu li:hover a {
  color: #2c71b8;
  background-color: white;
}

.filter {
  background-color: rgba(255, 255, 255, 0.2);
  border-right: 1px solid white;
}

.name_filter {
  font-size: 21px;
  color: white;
  font-weight: bold;
  margin: 25px 30px;
  padding-top: 28px;
}

.menu-button {
  width: 210px;
  height: 50px;
  border: 1px solid white;
  color: white;
  text-align: center;
  background-color: #2c71b8;
  font-size: 21px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 15px;

}

.menu-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  text-align: center;

}

h1 {
  font-weight: bold;
  font-size: 48px;
  color: white;
}

.product {
  height: 600px;
  background-color: rgba(44, 113, 184, 0.7490196078431373);
  border: 1px solid #ffffff;
  position: relative;
  margin: 10px;

}

[class*=-button] {
  width: 210px;
  height: 50px;
  color: white;
  text-align: center;
  font-size: 21px;
  line-height: 40px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 15px;
  font-style: bold;
 
}

.menu-button {
  border: 1px solid white;
  background-color: #2c71b8;
}

.in-cart-button {
  background-image: url(img/icon\ \(2\).png);
  background-repeat: no-repeat;
  background-position: 180px 15px;
  border:none;
  background-color: rgba(255,255,255,0.2);
  
}

h6 {
  font-size: 30px;
  font-weight: bold;
  color: white;
margin: 10px 10px;
}

.about_product {
  margin: 10px 15px;
  font-size: 21px;
  font-weight: lighter;
  color: white;
}

span {
  font-weight: bold;
}

.card_price {
  font-size: 48px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

sup {
  font-size: 24px;
  vertical-align: super;
}

[class*=card_thambnail_] {
  background-repeat: no-repeat;
  background-position: center;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.7490196078431373);
}

.card_thambnail_screen {
  background-image: url(img/icon\ \(17\).png);
}

.card_thambnail_DU {
  background-image: url(img/icon\ \(9\).png);
}

.card_thambnail_watch {
  background-image: url(img/icon\ \(10\).png);
}

.card_thambnail_laptop {
  background-image: url(img/icon\ \(16\).png);
}

.card_thambnail_pod {
  background-image: url(img/icon\ \(14\).png);
}

.card_thambnail_phone {
  background-image: url(img/icon\ \(12\).png);
}

.card_thambnail_tablet {
  background-image: url(img/icon\ \(15\).png);
}
.card_thambnail-square{
  background-image: url(img/icon\ \(8\).png);
  width: 30px;
  height: 30px;
background-repeat: no-repeat;
background-position: center;
border:1px solid #2c71b8;

}
.card_thambnail-square:hover{
  background-image: url(img/icon\ \(6\).png);  
  background-color: #2c71b8;
}
.product .card_thambnail-square{
  position: absolute;
  top: -2px;
  right: 5px;
  margin: 10px;
}
.card_thambnail-heart{
  background-image: url(img/icon\ \(5\).png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
background-position: center;
border:1px solid #2c71b8;
}
.card_thambnail-heart:hover{
  background-image: url(img/icon\ \(7\).png);
  background-color: #2c71b8;
}

.product .card_thambnail-heart{
  position: absolute;
  top: 35px;
  right: 5px;
margin: 10px;
}